<div class="row">
    <div class="col-md-12">
        <div class="preloader" ng-show="layout.loading">
            <i class="fa fa-refresh fa-5 fa-spin"></i>
        </div>
        <div ng-show="!layout.loading">
            <div class="row">
                <div class="col-md-4">
                    <h1>Clientes</h1>
                </div>
                <div class="col-md-8">
                    <table>
                        <tr>
                            <td>
                                <clock-element></clock-element>
                            </td>
                            <td>
                                <div class="hora-reloj">{{thehour}}</div>
                                <div class="fecha-reloj">{{theclock}}</div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-md-4">
                    <i class="fa fa-search"></i><input type="text" placeholder="Buscar..." ng-model="buscar" />
                </div>
                <div class="col-md-8">
                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#cargarCliente">
                        Cargar nuevo
                    </button>
                    <button class="btn btn-primary btn-sm" 
                        ng-disabled="countChecked() == 0" 
                        data-toggle="modal" data-target="#BorrarSeleccionados">Borrar seleccionados
                    </button>
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-md-12">
                    <pre class="hide">{{nuevocliente.nombre | json}}</pre>
                    <!-- insert form ends -->
                    <!-- list starts -->
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <td>&nbsp;</td>
                                <td>
                                    <a ng-click="sortType = 'nombre'; sortReverse = !sortReverse">
                                        Nombre y Apellido
                                        <span ng-show="sortType == 'nombre' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'nombre' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>
                                    <div ng-hide="editarDatos[0]"></div>
                                    <div ng-show="editarDatos[0]">
                                        Email
                                    </div>
                                </td>
                                <td>
                                    <div ng-hide="editarDatos[0]"></div>
                                    <div ng-show="editarDatos[0]">
                                        Dirección
                                    </div>
                                </td>
                                <td>
                                    <a ng-click="sortType = 'telefono'; sortReverse = !sortReverse">
                                        Teléfono
                                        <span ng-show="sortType == 'telefono' && !sortReverse" class="fa fa-caret-down"></span>
                                        <span ng-show="sortType == 'telefono' && sortReverse" class="fa fa-caret-up"></span>
                                    </a>
                                </td>
                                <td>Opciones</td>
                            </tr>
                        </thead>
                        <tr ng-repeat="p in clientes | orderBy:sortType:sortReverse | filter: buscar">
                            <td align="center">
                                <input type="checkbox" ng-model="p.isselected"/>
                            </td>
                            <td>
                                <div ng-hide="editarDatos[p.id]">{{p.nombre}} {{p.apellido}}</div>
                                <div ng-show="editarDatos[p.id]">
                                    <table>
                                        <tr>
                                            <td>
                                                <input type="text" name="nombre" ng-model="p.nombre" class="form-control" 
                                                    ng-value="p.nombre"
                                                    ng-minlength="3" 
                                                    ng-maxlength="50"
                                                    required />
                                            </td>
                                            <td>
                                                <input type="text" name="apellido" ng-model="p.apellido" class="form-control" 
                                                    ng-value="p.apellido"
                                                    ng-minlength="3" 
                                                    ng-maxlength="50" 
                                                    required />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                            <!-- email -->
                            <td>
                                <div ng-hide="editarDatos[p.id]"></div>
                                <div ng-show="editarDatos[p.id]">
                                    <input type="text" name="email" ng-model="p.email" class="form-control" 
                                       ng-value="p.email"  
                                       ng-minlength="8" 
                                       ng-maxlength="100" 
                                       required />
                                </div>
                            </td>
                            <!-- direccion -->
                            <td>
                                <div ng-hide="editarDatos[p.id]"></div>
                                <div ng-show="editarDatos[p.id]">
                                    <input type="text" name="direccion" ng-model="p.direccion" class="form-control" 
                                       ng-value="p.direccion"  
                                       ng-minlength="8" 
                                       ng-maxlength="50" 
                                       required />
                                </div>
                            </td>
                            <!-- telefono -->
                            <td>
                                <div ng-hide="editarDatos[p.id]">{{p.telefono}}</div>
                                <div ng-show="editarDatos[p.id]">
                                    <input type="text" name="telefono" ng-model="p.telefono" class="form-control" 
                                       ng-value="p.telefono"  
                                       ng-minlength="6" 
                                       ng-maxlength="20" 
                                       required />
                                </div>
                            </td>
                            <td>
                                <button ng-hide="editarDatos[p.id]" ng-click="editarCliente(p)" title="Editar cliente">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button ng-show="editarDatos[p.id]" ng-click="actualizarCliente(p)" title="Guardar cliente">
                                    <i class="fa fa-floppy-o"></i>
                                </button>
                                <button ng-show="editarDatos[p.id]" ng-click="cancelarCliente(p.id)" title="Cancelar edición">
                                    <i class="fa fa-ban"></i>
                                </button>
                                <button ng-click="confirmarBorrarCliente(p)" data-toggle="modal" data-target="#BorrarCliente" title="Borrar cliente">
                                    <i class="fa fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    </table>
                    <!-- filtro por abecedario -->
                    <table class="alfabeto">
                        <tr>
                            <td ng-repeat="n in alphabet">
                                <a ng-click="setLetters(n)">{{n}}</a>
                            </td>
                        </tr>
                    </table>
                    <!-- list ends -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal cargarCliente-->
<div id="cargarCliente" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog">
    <form ng-submit="guardarClientes(nuevocliente)" name="nuevocliente" novalidate>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3>Cargar nuevo cliente</h3>
                </div>
                <div class="modal-body">
                    <!-- nombre -->
                    <div class="form-group" ng-class="{'has-error': nuevocliente.nombre.$invalid && nuevocliente.$dirty }">
                        <input type="text" name="nombre" ng-model="no" class="form-control" 
                            placeholder="Nombre..."  
                            ng-minlength="3" 
                            ng-maxlength="50" 
                            ng-size="100"
                            required />
                        <div class="help-block" ng-messages="nuevocliente.nombre.$error" ng-if="nuevocliente.nombre.$touched || nuevocliente.$submitted">
                            <p ng-message="minlength">Nombre demasiado corto! Debe tener al menos 3 caracteres.</p>
                            <p ng-message="maxlength">Nombre demasiado largo! Debe tener hasta 50 caracteres.</p>
                            <p ng-message="required">El nombre es requerido!</p>
                        </div>                        
                    </div>
                    <!-- apellido -->
                    <div class="form-group" ng-class="{'has-error': nuevocliente.apellido.$invalid && nuevocliente.$dirty }">
                        <input type="text" name="apellido" ng-model="ap" class="form-control" 
                           placeholder="Apellido..."  
                           ng-minlength="3" 
                           ng-maxlength="50" 
                           required />
                        <div class="help-block" ng-messages="nuevocliente.apellido.$error" ng-if="nuevocliente.apellido.$touched || nuevocliente.$submitted">
                            <p ng-message="minlength">Apellido demasiado corto! Debe tener al menos 3 caracteres.</p>
                            <p ng-message="maxlength">Apellido demasiado largo! Debe tener hasta 50 caracteres.</p>
                            <p ng-message="required">El apellido es requerido!</p>
                        </div>                        
                    </div>
                    <!-- direccion -->
                    <div class="form-group" ng-class="{'has-error': nuevocliente.direccion.$invalid && nuevocliente.$dirty }">
                        <input type="text" name="direccion" ng-model="di" class="form-control" 
                           placeholder="Dirección..."  
                           ng-minlength="8" 
                           ng-maxlength="50" 
                           required />
                        <div class="help-block" ng-messages="nuevocliente.direccion.$error" ng-if="nuevocliente.direccion.$touched || nuevocliente.$submitted">
                            <p ng-message="minlength">Dirección demasiado corta! Debe tener al menos 8 caracteres.</p>
                            <p ng-message="maxlength">Dirección demasiado larga! Debe tener hasta 50 caracteres.</p>
                            <p ng-message="required">La dirección es requerida!</p>
                        </div>                        
                    </div>
                    <!-- email -->
                    <div class="form-group" ng-class="{'has-error': nuevocliente.email.$invalid && nuevocliente.$dirty }">
                        <input type="email" name="email" ng-model="em" class="form-control" 
                           placeholder="E-Mail..."  
                           ng-minlength="8" 
                           ng-maxlength="100" 
                           required />
                        <div class="help-block" ng-messages="nuevocliente.email.$error" ng-if="nuevocliente.email.$touched">
                            <p ng-message="minlength">El email es demasiado corto! Debe tener al menos 8 caracteres.</p>
                            <p ng-message="maxlength">El email es demasiado largo! Debe tener hasta 50 caracteres.</p>
                            <p ng-message="required">El email es requerida!</p>
                            <p ng-message="valid">El email no es valido</p>
                        </div>    
                    </div>
                    <!-- telefono -->
                    <div class="form-group" ng-class="{'has-error': nuevocliente.telefono.$invalid && nuevocliente.$dirty }">
                        <input type="text" name="telefono" ng-model="te" class="form-control" 
                           placeholder="Teléfono..."  
                           ng-minlength="6" 
                           ng-maxlength="20" 
                           required />
                        <div class="help-block" ng-messages="nuevocliente.telefono.$error" ng-if="nuevocliente.telefono.$touched">
                            <p ng-message="minlength">Teléfono demasiado corto! Debe tener al menos 6 caracteres.</p>
                            <p ng-message="maxlength">Teléfono demasiado largo! Debe tener hasta 20 caracteres.</p>
                            <p ng-message="required">El teléfono es requerida!</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Crear cliente</button>
                </div>
            </div>
        </div>
    </form>
</div>             
<!-- Modal para confirmar borrado de cliente -->
<div id="BorrarCliente" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Confirmar</h4>
            </div>
            <div class="modal-body">
                ¿Está seguro de que desea <b>borrar</b> el cliente {{cliente_borrar.nombre}} {{cliente_borrar.apellido}}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-click="borrarCliente()">Borrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal para confirmar borrado de clientes seleccionados -->
<div id="BorrarSeleccionados" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Confirmar</h4>
            </div>
            <div class="modal-body">
                ¿Está seguro de que desea <b>borrar</b> a todos los clientes seleccionados?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-click="borrarSeleccionados()">Borrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal para la calculadora -->
<div id="Calculadora" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <i class="fa fa-calculator"></i><h4 class="modal-title" id="myModalLabel">Calculadora</h4>
            </div>
            <div class="modal-body">
                <div calc></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
