<div class="row">
    <div class="col-md-12">
        <div class="preloader" ng-show="layout.loading">
            <i class="fa fa-refresh fa-5 fa-spin"></i>
        </div>
        <div ng-show="!layout.loading">
            <div class="row">
                <div class="col-md-4">
                    <h1>Clientes</h1>
                </div>
                <div class="col-md-8">
                    <table>
                        <tr>
                            <td>
                                <clock-element></clock-element>
                            </td>
                            <td>
                                <div class="hora-reloj">{{thehour}}</div>
                                <div class="fecha-reloj">{{theclock}}</div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-md-4">
                    <input type="text" placeholder="Buscar..." ng-model="buscar" />
                </div>
                <div class="col-md-8">
                    <!-- <button class="btn btn-primary" type="submit" ng-disabled="nuevocliente.$invalid">Cargar nuevo</button> -->
                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#cargarCliente">
                        Cargar nuevo
                    </button>
                    <button class="btn btn-primary btn-sm" 
                        ng-disabled="countChecked() == 0" 
                        data-toggle="modal" data-target="#BorrarSeleccionados">Borrar seleccionados
                    </button>
                </div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="col-md-12">
                    <pre class="hide">{{nuevocliente.nombre | json}}</pre>
                    <!-- insert form ends -->
                    <!-- list starts -->
                    <form ng-submit="editarClientes(editarcliente)" name="editarcliente" novalidate>
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>
                                        <a ng-click="sortType = 'nombre'; sortReverse = !sortReverse">
                                            Nombre y Apellido
                                            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                                        </a>
                                    </td>
                                    <td>
                                        <div ng-hide="editarDatos[0]"></div>
                                        <div ng-show="editarDatos[0]">
                                            Dirección
                                        </div>
                                    </td>
                                    <td>Teléfono</td>
                                    <td>Opciones</td>
                                </tr>
                            </thead>
                            <tr ng-repeat="p in clientes | orderBy:sortType:sortReverse | filter: buscar">
                                <td class="seleccion">
                                    <input type="checkbox" ng-model="p.isselected"/>
                                </td>
                                <td>
                                    <div ng-hide="editarDatos[p.id]">{{p.nombre}} {{p.apellido}}</div>
                                    <div ng-show="editarDatos[p.id]">
                                        <table>
                                            <tr>
                                                <td>
                                                    <input type="text" name="nombre" ng-model="no" class="form-control" 
                                                        ng-value="p.nombre"
                                                        ng-minlength="3" 
                                                        ng-maxlength="50"
                                                        required />
                                                    <!-- validaciones -->
                                                    <div role="alert" ng-if="editarcliente.nombre.$touched || editarcliente.$submitted">
                                                        <span class="error" ng-show="editarcliente.nombre.$error.required">
                                                            El nombre es requerido!
                                                        </span>
                                                        <span class="error" ng-show="editarcliente.nombre.$error.minlength">
                                                            Nombre demasiado corto!
                                                        </span>
                                                        <span class="error" ng-show="editarcliente.nombre.$error.maxlength">
                                                            Nombre demadiado largo!
                                                        </span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <input type="text" name="apellido" ng-model="ap" class="form-control" 
                                                        ng-value="p.apellido"
                                                        ng-minlength="3" 
                                                        ng-maxlength="50" 
                                                        required />
                                                    <div role="alert" ng-if="editarcliente.apellido.$touched || editarcliente.$submitted">
                                                        <span class="error" ng-show="editarcliente.apellido.$error.required">
                                                            El apellido es requerido!
                                                        </span>
                                                        <span class="error" ng-show="editarcliente.apellido.$error.minlength">
                                                            Apellido demasiado corto!
                                                        </span>
                                                        <span class="error" ng-show="editarcliente.apellido.$error.maxlength">
                                                            Apellido demadiado largo!
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </td>
                                <td>
                                    <div ng-hide="editarDatos[p.id]"></div>
                                    <div ng-show="editarDatos[p.id]">
                                        <input type="text" name="direccion" ng-model="di" class="form-control" 
                                           ng-value="p.direccion"  
                                           ng-minlength="3" 
                                           ng-maxlength="50" />
                                    </div>
                                </td>
                                <td>
                                    <div ng-hide="editarDatos[p.id]">{{p.telefono}}</div>
                                    <div ng-show="editarDatos[p.id]">
                                        <input type="text" name="telefono" ng-model="te" class="form-control" 
                                           ng-value="p.telefono"  
                                           ng-minlength="8" 
                                           ng-maxlength="20" />
                                    </div>
                                <td>
                                    <button ng-hide="editarDatos[p.id]" ng-click="editarCliente(p)" title="Editar cliente">
                                        <i class="fa fa-pencil"></i>
                                    </button>
                                    <button ng-show="editarDatos[p.id]" ng-click="actualizarCliente(p)" title="Guardar cliente">
                                        <i class="fa fa-floppy-o"></i>
                                    </button>
                                    <button ng-show="editarDatos[p.id]" ng-click="cancelarCliente(p.id)" title="Cancelar edición">
                                        <i class="fa fa-ban"></i>
                                    </button>
                                    <button ng-click="confirmarBorrarCliente(p.id)" data-toggle="modal" data-target="#BorrarCliente" title="Borrar cliente">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </td>
                            </tr>
                        </table>
                        <!-- abecedario -->
                        <table class="alfabeto">
                            <tr>
                                <td ng-repeat="n in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'.split('')">
                                    <a ng-click="buscar={nombre:'{{n}}'}">{{n}}</a>
                                </td>
                            </tr>
                        </table>
                    </form>
                    <!-- list ends -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal cargarCliente-->
<div id="cargarCliente" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog">
    <form ng-submit="guardarClientes(nuevocliente)" name="nuevocliente" novalidate>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3>Cargar nuevo cliente</h3>
                </div>
                <div class="modal-body">
                    <!-- nombre -->
                    <div class="form-group" ng-class="{'has-error': nuevocliente.nombre.$invalid && nuevocliente.$dirty }">
                        <input type="text" name="nombre" ng-model="no" class="form-control" 
                            placeholder="Nombre..."  
                            ng-minlength="3" 
                            ng-maxlength="50" 
                            ng-size="100"
                            required />
                        <div role="alert" ng-if="nuevocliente.nombre.$touched || nuevocliente.$submitted">
                            <span class="error" ng-show="nuevocliente.nombre.$error.required">
                                El nombre es requerido!
                            </span>
                            <span class="error" ng-show="nuevocliente.nombre.$error.minlength">
                                Nombre demasiado corto!
                            </span>
                            <span class="error" ng-show="nuevocliente.nombre.$error.maxlength">
                                Nombre demadiado largo!
                            </span>
                        </div>
                        <!--
                        <div class="validation text-danger"
                            ng-messages="nuevocliente.nombre.$error"
                            ng-if="nuevocliente.nombre.$touched || nuevocliente.$submitted">
                            <div ng-message="required" ng-show="nuevocliente.nombre.$error.required">Este campo es requerido</div>
                            <div ng-message="minlength" ng-show="nuevocliente.nombre.$error.minlength">El nombre debe tener al menos 3 caracteres</div>
                            <div ng-message="maxlength" ng-show="nuevocliente.apellido.$error.maxlength">El apellido debe tener hasta 50 caracteres</div>
                        </div>
                        -->
                    </div>
                    <!-- apellido -->
                    <div class="form-group" ng-class="{'has-error': nuevocliente.apellido.$invalid && nuevocliente.$dirty }">
                        <input type="text" name="apellido" ng-model="ap" class="form-control" 
                           placeholder="Apellido..."  
                           ng-minlength="3" 
                           ng-maxlength="50" 
                           required />
                        <div role="alert" ng-if="nuevocliente.apellido.$touched || nuevocliente.$submitted">
                            <span class="error" ng-show="nuevocliente.nombre.$error.required">
                                El apellido es requerido!
                            </span>
                            <span class="error" ng-show="nuevocliente.nombre.$error.minlength">
                                Apellido demasiado corto!
                            </span>
                            <span class="error" ng-show="nuevocliente.nombre.$error.maxlength">
                                Apellido demadiado largo!
                            </span>
                        </div>
                        <!--
                        <div class="validation text-danger"
                            ng-messages="nuevocliente.apellido.$error"
                            ng-if="nuevocliente.apellido.$touched || nuevocliente.$submitted">
                            <div ng-message="required" ng-show="nuevocliente.apellido.$error.required">Este campo es requerido</div>
                            <div ng-message="minlength" ng-show="nuevocliente.apellido.$error.minlength">El apellido debe tener al menos 3 caracteres</div>
                            <div ng-message="maxlength" ng-show="nuevocliente.apellido.$error.maxlength">El apellido debe tener hasta 50 caracteres</div>
                        </div>
                        -->
                    </div>
                    <!-- direccion -->
                    <div class="form-group" ng-class="{'has-error': nuevocliente.direccion.$invalid && nuevocliente.$dirty }">
                        <input type="text" name="direccion" ng-model="di" class="form-control" 
                           placeholder="Dirección..."  
                           ng-minlength="8" 
                           ng-maxlength="50" />
                        <div role="alert" ng-if="nuevocliente.direccion.$touched || nuevocliente.$submitted">
                            <span class="error" ng-show="nuevocliente.direccion.$error.minlength">
                                Dirección demasiado corta! Debe contener mas de 7 caracteres.
                            </span>
                            <span class="error" ng-show="nuevocliente.direccion.$error.maxlength">
                                Dirección demasiado larga! Debe contener hasta 50 caracteres
                            </span>
                        </div>
                    </div>
                    <!-- email -->
                    <div class="form-group" ng-class="{'has-error': nuevocliente.email.$invalid && nuevocliente.$dirty }">
                        <input type="email" name="email" ng-model="em" class="form-control" 
                           placeholder="E-Mail..."  
                           ng-minlength="3" 
                           ng-maxlength="50" />
                        <div class="validation text-danger"
                            ng-messages="nuevocliente.email.$error"
                            ng-if="nuevocliente.email.$touched || nuevocliente.$submitted">
                            <div ng-message="minlength" ng-show="nuevocliente.email.$error.minlength">El email debe tener al menos 3 caracteres</div>
                            <div ng-message="email" ng-show="nuevocliente.email.$error.email">No es un email valido</div>
                        </div>
                    </div>
                    <!-- telefono -->
                    <div class="form-group" ng-class="{'has-error': nuevocliente.telefono.$invalid && nuevocliente.$dirty }">
                        <input type="text" name="telefono" ng-model="te" class="form-control" 
                           placeholder="Teléfono..."  
                           ng-minlength="8" 
                           ng-maxlength="20" />
                        <div class="validation text-danger"
                            ng-messages="nuevocliente.telefono.$error"
                            ng-if="nuevocliente.telefono.$touched || nuevocliente.$submitted">
                            <div ng-message="minlength" ng-show="nuevocliente.telefono.$error.minlength">El teléfono debe tener al menos 3 caracteres</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Crear cliente</button>
                </div>
            </div>
        </div>
    </form>
</div>             
<!-- Modal para confirmar borrado de cliente -->
<div id="BorrarCliente" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Confirmar</h4>
            </div>
            <div class="modal-body">
                ¿Está seguro de que desea <b>borrar</b> el item {{idClienteBorrar}}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-click="borrarCliente(idClienteBorrar)">Borrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal para confirmar borrado de clientes seleccionados -->
<div id="BorrarSeleccionados" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Confirmar</h4>
            </div>
            <div class="modal-body">
                ¿Está seguro de que desea <b>borrar</b> a todos los seleccionados?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-click="borrarSeleccionados()">Borrar</button>
            </div>
        </div>
    </div>
</div>